 #navigator-toolbox{
    position: absolute;
    z-index: 1;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    transition: all 0.2s ease;
    border-radius: 10px;
    left:5%;
    width:90%;
  }
  #nav-bar{
    border-radius:10px;
  }
  
  #navigator-toolbox:focus-within {
    top: 20px !important;
    overflow: visible !important;
  }
 
